<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>アンケートフォーム</title>
	<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>
<body>
	<a href = "/answers">結果一覧</a>
	<div class ="row">
		<div class = "col-lg-8 col-lg-offset-2">
			<div class = "panel-heading">
				<span class = "glyphicon glyphicon-triangle-right"></span> 
				アンケートフォーム
			</div>
			<div class = "panel-body">
				<form action = "/answers" method = "post">
					<div class = "form-group">
						<label for = "name">名前(必須)</label><br>
						<input type = "text" name = "name" id = "name" placeholder= "ここに名前を入力" required>
					</div>
					<div class = "form-group">
						<label for = "age">年齢</label><br>
						<input type = "number" name = "age" id = "age" placeholder= "ここに年齢を入力">
					</div>
					
					<div class = "form-group">
						<label for = "grade">学年</label><br>
						<select name = "grade" id = "name">
							<option value = "中1">中学1年</option>
							<option value = "中2">中学2年</option>
							<option value = "中3">中学3年</option>
							<option value = "高1">高校1年</option>
							<option value = "高2">高校2年</option>
							<option value = "高3">高校3年</option>
						</select>
					</div>
					
					<div class = "form-group">
						<label for = "gender">性別</label><br>
						<input type = "radio" name = "gender" id = "name" value = "man" checked>男
						<input type = "radio" name = "gender" value = "woman">女
					</div>
					<div class = "form-group">
						<label for = "email">メールアドレス(必須)</label><br>
						<input type = "email" name = "email" id = "email" placeholder= "メールアドレスを入力" required>
					</div>
					<div class = "form-group">
						<label for = "date">日付</label><br>
						<input type = "date" name = "date">
					</div>
					<div class = "form-group">
						<label for = "password">パスワード(必須)</label><br>
						<input type = "password" id = "password" name = "password" maxlength = "10" minlength = "6" placeholder= "パスワードを入力" required>
					</div>
					
					<div class = "form-group">
						<label for = "content">感想・質問</label><br>
						<textarea name = "content" id = "content" rows = "4" cols = "40" placeholder= "質問・感想はこちら"></textarea>
					</div>
					
					<input type = "submit" class = "btn btn-primary pull-left"></input>
					<input type = "reset" class = "btn btn-warning pull-left"></input>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
